
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.div_formulario{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 30%;
}